.need-container {
  color: #0A0908;
  text-align: center;
  width: 100%;
}

.time-container {
  display: flex;
}

.need-container:nth-child(odd) {
  background-color: #FFFFFF;
}

.need-container:nth-child(even) {
  background-color: #F5F0E0;
}
