.need-container {
  color: #0A0908;
  padding: 5%;
  text-align: center;
  width: 100%;
}

.time-container {
  display: flex;
}

.need-container:nth-child(even) {
  background-color: #F4F3EE;
}

.need-container:nth-child(odd) {
  background-color: #CDCDCB;
}
