form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 5%;
}

input {
  border: 1px solid #00303F;
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  margin: 1%;
  min-width: 300px;
  padding: 1%;
  width: 40%;
}

label {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.25em;
}

.submit-button {
  margin: 2% 0% 5%;
  padding: 2%;
  width: 20%;
}

@media only screen and (max-width: 1110px) {
  input {
    margin: 2%;
  }
}
