@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap');

body {
  background-color: #FFFFFF;
  margin: 0;
}

header {
  background-color: rgba(122, 157, 150, 0.5);
  padding: 0.5% 1%;
}

a {
  text-decoration: none;
}

button {
  border: none;
  border-radius: 5px;
  background-color: #00303F;
  color: #FFFFFF;
  font-size: 1em;
  padding: 5%;
  width: 200px;
}

button:hover {
  background-color: #7A9D96;
  color: #00303F;
}

.main-container {
  align-items: center;
  color: #0A0908;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  position: relative;
}

.logo {
  color: #00303F;
  font-family: 'Josefin Sans', sans-serif;
}

.logo:hover {
  color: #7A9D96;
}

.header-text {
  font-family: 'Josefin Sans', sans-serif;
}

.intro-text {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  padding: 5% 0%;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
}

.banner-img {
  min-height: 100%;
  width: 100%;
  position: fixed;
  object-fit: cover;
  overflow: hidden;
}
