main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://c.stocksy.com/a/tk2400/z9/963907.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

header {
  background-color: white;
  margin: 0;
}

.main-container {
  align-items: center;
  color: white;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  margin-top: 20%;
}
