body {
  background-color: #F4F3EE;
  margin: 0;
}

header {
  background-color: #F4F3EE;
}

a {
  text-decoration: none;
}

.main-container {
  align-items: center;
  color: #000000;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  margin-top: 20%;
}
