.search-button {
  margin: 1%;
  padding: 1% 2%;
  width: 10%;
}

.checkbox-container {
  display: flex;
  justify-content: center;
}

.checkboxes {
  min-width: 20%;
}

.checkbox-label {
  min-width: 70%;
}

.see-all-button {
  background: none;
  color: blue;
  font-size: 18px;
  padding-top: 1%;
  text-decoration: underline;
  width: 20%;
}

.see-all-button:hover {
  background-color: white;
  color: purple;
  cursor: pointer;
}

.select-category {
  border: 1px solid #00303f;
  font-family: "Lato", sans-serif;
  font-size: 1.1em;
  margin: 2%;
  min-width: 300px;
  padding: 1%;
  width: 40%;
}
